<div class="cart" style="max-width: 30rem;">

  <h2>cart</h2>

</div>
<div class="product-card" style="max-width: 30rem;">

  <h2>product</h2>

</div>
<div class="subtotal" style="max-width: 30rem;">

  <h2>subtotal</h2>

</div>